<div class="card alpha-listing text-white">
  <div class="card-img-top" style="margin-top: 2%">
    <%= link_to gravatar_for(user, 180), user_path(user),  class: "rounded-circle" %>
  </div>
  <div class="card-block">
    <h4 class="h4 alpha-title"><%= link_to user.username, user_path(user), class: "text-white" %></h4>
  </div>
  <div class="card-footer">
    <small class="h6"><%= pluralize(user.articles.count, "article") if user.articles %></small>
  </div>
</div>