<div class="card alpha-listing text-white">
  <div class="card-img-top" style="margin-top: 2%">
    <%= link_to gravatar_for(user, 180), user_path(user),  class: "rounded-circle" %>
  </div>
  <div class="card-block">
    <h4 class="h4 alpha-title"><%= link_to user.username, user_path(user), class: "text-white" %></h4>
  </div>
  <div class="card-footer">
    <small class="h6"><%= pluralize(user.articles.count, "article") if user.articles %></small>
    <% if logged_in? and current_user.admin? and !user.admin? %>
    <small class="h6"><%= link_to "Delete this user", user_path(user), method: :delete,
      data: {confirm: "Are you sure you want to delete the user and all there articles"}%></small>
    <% end %>
  </div>
</div>