<div class="row">
  <div class="col-10 offset-1">
    <div class="card card-success alpha-form"
         <% if @user.errors.any? %>
         style="margin-bottom: 5%"
         <% end %>
         >
      <div class="card-header text-center text-white">
        <h2 class="h2 alpha-title">Edit your account</h2>
      </div>
      <div class="card-block">
        <%= render 'users_form'  %>
      </div>
    </div>
  </div>
</div>