<div class=" home center jumbotron jumbotron-fluid">
  <div class="container text-white ">
    <h1 class="display-3"> Welcome to</h1>
    <h2 class="h2">Alpha Blog</h2>
    <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge " %>
  </div>
</div>
