<% if obj.any? %>
    <% obj.each do |category| %>

        <div class="card-block text-white ">

          <div class="article-title">
            <%= link_to category.name, category_path(category), class: "text-white" %>
            <div class="card-blockquote">
              <small><%= pluralize(category.articles.count, "article") %></small>
            </div>

          </div>

          <hr>

        </div>
    <% end %>
<% end %>