<div class="container-fluid fixed-bottom">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.vinaylogics.com">Vinay Logics</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
